<div>
  <h2 class="title p_bot20">FAQ</h2>
  <div class="main-text">
    <a class="link" href="https://support.credits.com/ru/Home/Articles/6">Node</a>
    <a class="link" href="https://support.credits.com/ru/Home/FAQ/14">Web wallet</a>
    <a class="link" href="https://support.credits.com/ru/Home/Articles/4">Monitor</a>
    <a class="link" href="https://support.credits.com/ru/Home/Articles/7">Security</a>
    <a class="link" href="https://support.credits.com/ru/Home/Articles/8">For developers</a>
    <a class="link" href="https://support.credits.com/ru/Home/Articles/9">Bug bounty</a>
  </div>
</div>



