<section class="section2">
  <div class="leftPart">
    <app-faq></app-faq>
  </div>

  <div class="rightPart">

    <forma id="FormaPassword">
      <h1 class="title p_bot20">Create an Account</h1>
      <p class="mb-60">To use the CREDITS cryptocurrency or tokens issued on the CREDITS platform, you need to first Create an Account</p>

      <h2 class="title p_bot20">Save the Private Key for your CREDITS Account</h2>
      <p class="mb-50">It will be required to enter the account you are creating</p>

      <p>Public key</p>
      <input class="mb-50 main-input" data-val="true" required="required" type="text" [(ngModel)]="addressKey">

      <p>Public key</p>
      <input data-val="true" class="main-input" required="required" type="text" [(ngModel)]="privateKey">

      <p class="mb-50 textColorRed">VERY IMPORTANT! Do not lose this file and do not give it to anyone. If you lose the file, then no one will be able to restore the access to your account.</p>
      <p class="fontBold"><a class="bold-link bttn" (click) = goToStep(45)>Continue</a></p>

    </forma>
  </div>
</section>
