<div class="content padding_top_50">
  <div class="row main-text">
    <div class="left-bar">
      <app-account></app-account>
      <app-faq></app-faq>
    </div>
    <div class="w-100 mx_680">
      <h2 class="title">Check Details and Verify Payment</h2>
      <div class=" mb-50">
        IMPORTANT! Once you approve the transaction you will NOT be able to cancel it.
      </div>

      <div class=" mb-20">
        <span>To Address (Recipient)</span>
      </div>
      <div class=" mb-20">
        <span class="fontBold line_left">{{toAddress}}</span>
      </div>
      <div class=" mb-20">
        <span>Transaction Amount</span>
      </div>
      <div class=" mb-20">
        <span class="fontBold line_left">{{dataService.amountInCs}}</span>
      </div>
      <div class=" mb-20">
        <span>Trancaction Fee</span>
      </div>
      <div class=" mb-20">
        <span class="fontBold line_left">{{dataService.transactionFee}} CS</span>
      </div>
      <div class=" mb-20">
        <span>Offered maximum fee</span>
      </div>
      <div class=" mb-20">
        <span class="fontBold line_left">{{dataService.offeredMaxFee}}</span>
      </div>
      <div class=" mb-20">
        <span>Signature</span>
      </div>
      <div class=" mb-50">
        <span class="fontBold line_left">{{signature}}</span>
      </div>
      <div class="row mb-50">
        <a class="link fo_link" (click)="goToPrevStep()">Back</a>
        <a class="bold-link bttn margin_left_60" (click)="goToStep(8)">Confirm Payment</a>
      </div>
    </div>
  </div>
</div>
