<main>
  <div class="container container_empty_bottom">
    <div class="title title_center">
      <h2 class="title__text title__text_center">Заголовок страницы</h2>
      <div class="title__subtext title__subtext_center">On this page you can open the wallet and make payments in the Credits platform</div>
    </div>
    <div class="container container_w604">
      <div class="input">
        <label class="input__text">
          <input type="text" placeholder="Имя" class="input__field"/></label>
      </div>
      <div class="input">
        <label class="input__text">
          <input type="text" placeholder="Почта" class="input__field"/></label>
      </div>
      <textarea placeholder="Описание проблемы" class="input__textarea"></textarea>
    </div>
    <button class="button button_continue">Отправить</button>
  </div>
</main>
