<section class="section2">
  <div class="leftPart">
    <div>
      <h2 class="title p_bot20">FAQ</h2>
      <div class="main-text">
        <a class="link" href="#">Node</a>
        <a class="link" href="#">Web wallet</a>
        <a class="link" href="#">Monitor</a>
        <a class="link" href="#">Security</a>
        <a class="link" href="#">For developers</a>
        <a class="link" href="#">Bug bounty</a>
      </div>
    </div>
  </div>

  <div class="rightPart">
    <forma id="FormaPassword">
      <h1 class="title p_bot20">Create an Account</h1>
      <p class="mb-60">To use the CREDITS cryptocurrency or tokens issued on the CREDITS platform, you need to first Create an Account</p>

      <p class="textColorRed">Create a Password to generate your Keystore File and then save it</p>
      <div id="PasswordField_box">
        <input data-val="true" data-val-required="" id="Password-field" class="main-input" name="Password" placeholder="Password" required="required" type="text" type="{{ isShowPass ? 'text' : 'password' }}" [(ngModel)]="addressKey">
        <img src="assets/images/icons8-invisible.png" class="PasswordField_Img1" [ngClass]="{'displayNone' : isShowPass}" (mousedown)="mousedown()" (mouseup)="mouseup()">
        <img src="assets/images/icons8-visible.png" class="PasswordField_Img2" [ngClass]="{'displayNone' : !isShowPass}" (mousedown)="mousedown()" (mouseup)="mouseup()">
      </div>

      <p>Generate keystore file</p>
      <p class="tet_bold"><a class="bold-link bttn" (click) = goToStep(4)>Continue</a></p>

    </forma>
  </div>
</section>
