<div class="mb-50">
  <h2 class="title">Account</h2>
  <div class="">
    <div>
      Wallet:
    </div>
    <div class="breaked mb-40">
      {{dataService.accountData.wallet}}
    </div>
    <div>
      Balance:
    </div>
    <div class="breaked mb-40">
      {{dataService.accountData.balance + ' ' + dataService.accountData.balanceCurrency}}
    </div>
    <div>
      Transaction history:
    </div>
    <div>
      <a class="link" (click)="dataService.goToMonitor()">Details</a>
    </div>
  </div>
</div>
