<div class="bg-block text-center">
  <div class="content centered_column">
    <h2 class="title">Open a СREDITS cryptocurrenсy account</h2>
    <div class="w-650 mb-50">Open a FREE account in the CREDITS cryptocurrenсy platform. Store CREDITS coins and other tokens. Make transfers and payments.</div>

    <label for="network">Choose net:</label>
    <select class="select mb-50" id="network" [ngModel]="selectedNetObj" (ngModelChange)="netListChange($event)">
      <option *ngFor="let network of dataService.networkList" [ngValue]="network">{{network.name}} </option>
    </select>
    <div class="row w-400 around align-bottom mobile-column mobile-center" *ngIf="isNetChoosen">
      <div>
        <div>Create a</div>
        <div class="margin_top_20">
          <a href="#" class="bold-link bttn" (click)="goToStep(1)">New account</a>
        </div>
      </div>
      <div style="align-self: center;">
        or
      </div>
      <div>
        <div>You have<br>already Account?</div>
        <div class="margin_top_20">
          <a href="#" class="bold-link bttn" (click)="goToStep(45)">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <h2 class="title text-center">CREDITS cryptocurrency</h2>
  <div class="row around  mobile-column mobile-center">
    <div class="feature">
      <img src="assets/images/main-01-01.svg" alt="" class="feature__img">
      <div class="feature__title">Speed of transactions</div>
      <p class="feature__body">Lightning-fast processing times for payments and transactions. Around a little as 0.1 second per transaction.</p>
    </div>
    <div class="feature">
      <img src="assets/images/main-02-01.svg" alt="" class="feature__img">
      <div class="feature__title">Transaction fees</div>
      <p class="feature__body">Inexpensive transaction fees. As low as about 0.001 USD per transaction. Suitable for micropayments and IOT</p>
    </div>
    <div class="feature">
      <img src="assets/images/main-03-01.svg" alt="" class="feature__img">
      <div class="feature__title">The amount of processing</div>
      <p class="feature__body">Might be executed more than 1,000,000 transactions per second, with future scalability to 10,000,000 per second</p>
    </div>
  </div>
</div>
<div class="content">
  <h2 class="title text-center mb-20">What is CREDITS?</h2>
  <div class="w-650 mx-auto mb-20">
    <p>
      CREDITS is a new digital cryptocurrency and also a payment system, built on the principles of blockchain. It works without a central bank or single administrator, acting as a peer-to-peer decentralized network. The highest level of security is based on the principles of cryptography.
    </p>
    <p>
      The CREDITS cryptocurrency is a new unique technological development characterized by having a very high speed of payment execution (averages less than a second) and a low fee per transaction. This is a completely new independent platform development by the CREDITS project team.
    </p>
    <p>
      All details about transactions occuring between addresses on the system are available to view. Using the service Monitor (http://monitor.credits.com) you can verify a transaction. Electronic payment between two parties takes place without intermediaries and is irreversible — there is no mechanism to cancel the confirmed transaction.
    </p>
    <p>
      The CREDITS Wallet is a browser-based application executable on the user's browser-side. All data is stored and processed in the user's browser & transmitted directly to the network. By doing this, data is not stored on any server. In the case of a password-access key access being lost, the account will be lost.
    </p>
    <p>
      On the CREDITS platform it is possible through programming to implement options of smart contracts for the inssurance of tokens and the creation of various services built on the principles of blockchain.
    </p>
  </div>
  <div class="text-center mb-50">
    <a href="#" class="bold-link bttn" (click)="goToStep(45)">Open an account in credits</a>
  </div>
</div>

