<div class="content padding_top_50">
  <div class="row main-text">
    <div class="left-bar">
      <app-account></app-account>
      <!--FAQ-->
      <app-faq></app-faq>
    </div>
    <div class="w-100">
      <h2 class="title">Make a payment</h2>
      <div class=" mb-50">
        Here you can create a payment and transfer tokens.
      </div>
      <h2 class="title">Complete the Required Fields</h2>
      <div class="mb-40">
        Transfer ONLY to another account on the CREDITS platform.
      </div>
      <div class="">Select coin</div>
      <select class="select" #select (change)="onChange($event, select.value)" >
        <option *ngFor="let coin of dataService.coinDataList" [ngValue]="coin" [selected]="coin.code == 'cs'">{{coin.name + ' (' + coin.code + ')'}} </option>
      </select>

      <div class="mb-40">
        Credits balance: <span>{{dataService.accountData.balance + ' ' + dataService.accountData.balanceCurrency}}</span>
      </div>

      <label class="d-block" for="address">To Address (Recipient)</label>
      <input class="main-input" type="text" name="address" id="address" placeholder="Enter address here" required [(ngModel)]="toAddress" [formControl]="keyControl">
      <div class="mb-40">*Must be on CREDITS Platform</div>
      <div class="mb-40" *ngIf="addressKey == toAddress">To Address not valid.</div>

      <label class="d-block" for="amount">Amount in CS (CREDITS) or other tokens</label>
      <input type="number" class="main-input" value="0" min="0" name="amount" id="amount" oninput="if (parseInt(document.getElementById('amount').value) < 0 || isNaN(parseInt(document.getElementById('amount').value))) {document.getElementById('amount').value = ''} document.getElementById('amount').value =  document.getElementById('amount').value.substring(0, document.getElementById('amount').value.indexOf('.') + 16);" [(ngModel)]="dataService.amountInCs" [formControl]="csKontrol" required>
      <div class="mb-40" *ngIf="coinsControl == true">Balance not valid.</div>
      <div class="mb-40" *ngIf="numSym >= 16">the number of fractional digits cannot exceed 15.</div>

      <label class="d-block" for="amount">Offered maximum fee</label>
      <!-- [formControl]="feeControl" -->
      <input type="number" class="main-input" value="0" min="0" id="offeredMaxFee" oninput="if (parseInt(document.getElementById('offeredMaxFee').value) < 0 || isNaN(parseInt(document.getElementById('offeredMaxFee').value))) {document.getElementById('offeredMaxFee').value = ''} document.getElementById('offeredMaxFee').value =  document.getElementById('offeredMaxFee').value.substring(0, document.getElementById('offeredMaxFee').value.indexOf('.') + 16);" [(ngModel)]="dataService.offeredMaxFee" required>
      <!--div class="mb-40" *ngIf="feeValueIsValid == false">Fee value not valid.</div>
      <div class="mb-40" *ngIf="feeDigitCount >= 16">the number of fractional digits cannot exceed 15.</div-->

      <div class="row around mb-50">
        <a class="bold-link bttn" (click)="goToStep(61)">New coin</a>
        <a class="bold-link bttn" *ngIf = "!createPaymentIsHidden" (click)="goToStep(7)">Create a payment</a>
        <a class="bold-link bttn" (click)="goToStep(65)">Smart contract</a>
      </div>
    </div>
  </div>
</div>

