<header class="header">
  <div class="content inner-wrap">
    <div class="logo-wrap">
      <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="Logo Credits Wallet">
      </a>
      <span class="version_wallet" *ngIf="!dataService.isProdNet">TestNet</span>
    </div>
    <div class="header-wrap" style="">
      <nav class="menu">
        <div class="wrap_menu" *ngIf="dataService.isWalletOpened">
          <div class="menu_item" (click)="goToStep(65)">Smart contract</div>
          <div class="menu_item" (click)="dataService.goToMonitor()">Monitor</div>
          <div class="menu_item" (click)="dataService.logout()">Logout</div>
        </div>
      </nav>
    </div>
    <div class="mobile_menu">
      <div class="menu_icon">
        <span class="burg_line"></span>
        <span class="burg_line"></span>
        <span class="burg_line"></span>
        <span class="burg_line"></span>
      </div>
    </div>
  </div>
</header>
