@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 27px;/*схожий стиль*/
  color: rgba(38, 50, 56, 255);/*схожий стиль*/
  text-align: left;/*схожий стиль*/
  font-weight: 500;/*схожий стиль*/
  margin-bottom: 20px;
}

textarea, input{
  resize: none;
  padding-left: 5px;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form div{
  margin-bottom: 50px;
}

.smart__p{
  margin:7px 0px;
  word-wrap: break-word;
}
.wallet__p{
  font-size: 14px;
  color: rgba(38, 50, 56, 255);
  text-align: left;
  margin-bottom: 20px;
}
.wrap {
  overflow: hidden;
  min-height: calc(100vh - 125px);
  padding-top: 75px;
  background-color:#f5f5f5;
}
.wrap.fix, footer.fix {
  min-width: 1050px;
}
.line_left {
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  display: block;
}
.font_l_h_2 {
  line-height:2;
}
.mx_680 {
  max-width:680px;
}
.padding_top_13 {
  padding-top:13px;
}
.wrap_fields {
  margin-top: 13px;
  margin-bottom: 25px;
  max-height: 251px;
  padding: 5px 15px 15px 15px;
  overflow-y: scroll;
  border: 1px solid #d2d2d2;
}
.wrap_code {
  margin-bottom: 20px;
  width: 100%;
  height: 397px;
  margin-top:20px;
  padding: 5px 15px 15px 15px;
  overflow-y: scroll;
  border: 1px solid #d2d2d2;
  background-color: #fff;
}
.lblock {
  display:flex;
  flex-direction: row;
  margin-bottom:0;
}
.lblock .lp {
  margin: 0px;
}
.bttn{
  display: inline-block;
}
a.bold-link.bttn.lupop {
  line-height:1;
  padding: 10px;
  width: 40px;
  height: 38px;
  background-image: url("assets/images/search-ico.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 7px 7px 0;
  border: 1px solid #d2d2d2;
}
a.bold-link.bttn.lupop:hover {
  background-color: #d2d2d2;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #13191c;
  font-size: 16px;
  color: #92989b;
  font-weight: bold;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}
.mb-10 {
  margin-bottom:10px;
}
.no-margin{
  margin: 0;
}
.header-wrap {
  width: calc(100% - 300px);
  display:none;
}
.header .logo-wrap {
  float: left;
}
span.version_wallet {
  color: #fff200;
  font-size:14px;
  font-weight:normal;
  padding-left:15px;
  margin-top:-7px;
}
.content.inner-wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  height: 60px;
}
.logo-wrap {
  padding: 10px 0;
  max-width: 300px;
  width: 100%;
  display: flex;
}
.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padding_top_50 {
  padding-top:25px;
}
.wrap_menu {
  display:flex;
  padding-top:15px;
}
.menu_item {
  padding-left:60px;
  cursor:pointer;
}
.margin_left_60 {
  margin-left:60px;
}
.fo_link {
  padding:12px 0px;
}
.content p {
  font-size:14px;
  padding-bottom:20px;
}
.lupa {
  padding:8px 30px;
  margin-left:10px;
  border: 2px solid #abadae;
  border-radius:6px;
  cursor:pointer;
}
.main_search {
  height:40px;
  padding:15px 10px;
  max-width:450px;
  width:100%;
}
input::-webkit-input-placeholder {
  font-size:16px;
}
input:-moz-placeholder {
  font-size:16px;
}
input {
  font-size:16px;
  color: #263238;
}
a.bold-link.bttn {
  border: 2px solid #263238;
  padding: 10px 20px;
  border-radius: 7px;
  cursor:pointer;
  font-size: 14px;
}
a.bold-link.bttn:hover {
  color: #fff;
  background-color: #263238;
}
footer {
  background-color:#6b787f;
}
.wrap_foot {
  max-width: 1000px;
  margin: 0 auto;
}
.footer_items {
  font-weight: bold;
  width: 50%;
}
.footer_menu_item {
  cursor:pointer;
}
.row {
  display:flex;
}
.footermenu {
  padding: 15px 0px 15px 40px;
  color: #263238;
}
.copy {
  padding: 15px 0px 15px 40px;
  color: #fff;
  font-weight:normal;
}
.copy p {
  color:#fff;
  font-weight:normal;
}
.mobile_menu {
  float:right;
  width:50px;
  padding-top:16px;
}
.menu_icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.menu_icon:hover span.burg_line {
  background-color: #cbd0d2;
}
.menu_icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #92989b;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu_icon span:nth-child(1) {
  top: 0px;
}

.menu_icon span:nth-child(2), .menu_icon span:nth-child(3) {
  top: 13px;
}

.menu_icon span:nth-child(4) {
  top: 26px;
}

.drop_menu p {
  text-align: right;
  padding-right: 20px;
  line-height: 2;
  cursor:pointer;
  display: none;
}
.drop_menu p a:hover {
  color:#d4d4d4;
}
.main-text{
  font-size: 14px;
  line-height: 2;
  padding-bottom:20px;
}
.p_bot20 {
  padding-bottom:20px;
}
.w-100{
  width: 100%;
}
.d-block{
  display: block;
}
.main-input{
  display: block;
  width: 100%;
  padding: 8px;
}
.left-bar{
  width: 100%;
  max-width: 320px;
  margin-right: 24px;
}
.breaked{
  word-break: break-all;
}
.link{
  display: block;
  text-decoration: none;
  color: #567fbb;
}
.bold-link{
  text-decoration: none;
  font-weight: bold;
  color: #263238;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
.select{
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
}
.select::after{
  content: "▼";
  position: absolute;
  display: block;
  top: 0;
  right: -14px;
  cursor: pointer;
}
.bg-block{
  margin-top: 50px;
  height: 520px;
  background: linear-gradient(-90deg,rgba(255,255,0,0.6),transparent 37%), url('assets/images/background.png') center / cover;
  margin-bottom: 40px;
}
.centered_column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.around{
  justify-content: space-around;
}
.no-padding{
  padding: 0;
}
.align-bottom{
  align-items: flex-end;
}
.title,
title {
  font-size:27px;
  font-weight: 500;
}
.text-center{
  text-align: center;
}
.feature{
  padding: 15px 0;
  text-align: center;
  max-width: 325px;
}
.feature__img{
  margin-bottom: 20px;
  width: 40px;
}
.feature__title{
  margin-bottom: 15px;
  font-weight: 500;
}
.w-650{
  max-width: 650px;
  width: 100%;
}
.w-400{
  max-width: 400px;
  width: 100%;
}
.mb-20{
  margin-bottom: 20px;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.margin_top_20 {
  margin-top:20px;
}
.textColorRed {
  color: red;
}
.bttnfix{
  width: 138px;
  display: block;
}
/* =( */
.mobile_menu {
  display:none;
}
.header .header-wrap {
  float: right;
  line-height: 1;
  max-width: 490px;
  padding-top: 10px;
  display:block;
}
@media screen and (max-width: 800px) {
  .header .logo-wrap {
    display: none;
    width:auto;
  }
  .header .header-wrap {
    float:none;
    width:100%;
  }
}
@media screen and (max-width: 500px) {
  .menu_item {
    padding-left: 15px;
    font-size: 12px;
  }
}

#FormaPassword #PasswordField_box{
  width: 310px;
  margin-bottom: 50px;
  position: relative;
}
#FormaPassword #PasswordField_box img{
  position: absolute;
  width: 36px;
  top: 1px;
  left: 88%;
  padding:5px;
}
#Password-field{
  width: 310px;
  margin-bottom: 0;
}
.displayNone{
  display: none;
}

.section1{
  max-width: 1000px;
  padding: 25px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-60{
  margin-bottom: 60px;
}
.fontBold{
  font-weight: bold;
}
.contract-list{
  height: 342px;
  max-height: 342px;
  overflow-y: auto;
  margin-bottom:25px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
}
.flexColMax320{
  display:flex;
  flex-direction:column;
  max-width:320px;
}

.section2{
  max-width: 1000px;
  padding: 25px 0 60px 0;/*схожий стиль*/
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 250px);
  flex-direction: row;
  justify-content: space-between;
}
#FormaPassword{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftPart{
  width: 20%;
}
.rightPart{
  width: 70%;
}
